ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    position: fixed;
    top:0;
    width: 100%;
}
li {
    float:right;
}
li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: white;
}
li a:hover{
    background-color: #4c4747;
}
/* add this class to links in page later
.active {
    background-color: #4CAF50;
    color: white;
}*/